﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
body {
    padding: 10px 0;
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }

.btn {
    text-transform: uppercase;
}

    .btn.btn-lg {
        padding: 6px 30px;
    }

.thumbnail-title {
    font-size: 20px;
    margin-top: 5px;
}

.img-thumb-bg {
    padding: 0;
    overflow: hidden;
    min-height: 200px;
    position: relative;
    border-radius: 3px;
    background-position: center;
    background-color: transparent;
}

    .img-thumb-bg p {
        color: #fff;
        margin-bottom: 0;
        line-height: 16px;
    }

    .img-thumb-bg .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        background: rgba(0, 0, 0, 0);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    }

    .img-thumb-bg .caption {
        bottom: -5px;
        height: 100px;
        font-size: 12px;
        position: absolute;
        padding: 0 20px 20px;
        transition: all 0.3s ease-in-out;
    }

        .img-thumb-bg .caption .tag a {
            color: #fff;
            padding: 0 5px;
            font-size: 12px;
            border-radius: 2px;
            display: inline-block;
            text-transform: uppercase;
            background-color: #2980B9;
        }

        .img-thumb-bg .caption .title {
            margin-top: 5px;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
        }

            .img-thumb-bg .caption .title a {
                color: #fff;
            }

                .img-thumb-bg .caption .title a:hover {
                    color: #2980B9;
                }

        .img-thumb-bg .caption .meta-data {
            color: #777;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 15px;
        }

            .img-thumb-bg .caption .meta-data a {
                color: #777;
            }

                .img-thumb-bg .caption .meta-data a .fa {
                    color: #2980B9;
                }

                .img-thumb-bg .caption .meta-data a:hover {
                    color: #2980B9;
                }

        .img-thumb-bg .caption .content {
            display: none;
        }

    .img-thumb-bg:hover .overlay {
        background: rgba(46, 49, 58, 0.8);
    }

    .img-thumb-bg:hover .caption {
        bottom: 60px;
    }

        .img-thumb-bg:hover .caption .content {
            display: block;
        }
